In [20]:
import numpy as np
import pandas as pd

In [23]:
pd.Series

pandas.core.series.Series

In [24]:
myindex = ['USA', 'Canada', 'Mexico']

In [25]:
mydata = [1776, 1867, 1821]

In [28]:
myser = pd.Series(data=mydata,index=myindex)

In [29]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [30]:
myser[0]

1776

In [31]:
myser['USA']

1776

In [32]:
ages = {'Sam': 5, 'Frank': 10, 'Spike': 7}

In [33]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64